<div id="accessories" data-accessories="${properties.accessoriesjson}" data-accessoriesImages="${properties.accessoriesfolderimage}" data-accessoriesImagePath="${properties.accessoriesfolder}">
    <div class="accessories-container d-flex">
        <div class="accessories-top-wrap">
            <div class="form-comp-wrap w-100">
                <div id="accessories--form-wrap" class="d-flex addressPan">
                    <div class="form--wrap">
						<div class="form group cust-form-group">
							<div class=" select-dropdown btn-drop-v1 cust-drop-down">
								<button class="dropdown-select btn-drop  btn-primary  dropdown-toggle w-100 text-left"
									name="bike" type="button" data-toggle="dropdown">Select Bike<span
										class="caret select-span"></span>
								</button>
								<input type="hidden" value="" name="bikeType" />
								<ul class="dropdown-menu cust-dropdown-menu campaign-dropdown"
									aria-labelledby="bikeTypeDropdown" style="" id="bike-type-dropdown">
								</ul>
								<span class="select-p">Category</span>
							</div>
						</div>
					</div>

					<div class="form--wrap">
						<div class="form group cust-form-group">
							<div class=" select-dropdown btn-drop-v1 cust-drop-down">
								<button class="dropdown-select btn-drop  btn-primary  dropdown-toggle w-100 text-left"
									name="model" type="button" disabled data-toggle="dropdown">Select Model<span
										class="caret select-span"></span>
								</button>
								<input type="hidden" value="" name="modelNameVal" />
								<ul class="dropdown-menu cust-dropdown-menu campaign-dropdown"
									aria-labelledby="modelDropdown" style="" id="model-dropdown">
								</ul>
								<span class="select-p">Model</span>
							</div>
						</div>
					</div>

					<div class="form--wrap">
						<div class="form group cust-form-group">
							<div class=" select-dropdown btn-drop-v1 cust-drop-down">
								<button class="dropdown-select btn-drop  btn-primary  dropdown-toggle w-100 text-left"
									name="category" type="button" disabled data-toggle="dropdown">Select Category
									<span class="caret select-span"></span>
								</button>
								<input type="hidden" value="" name="categoryModelNameVal" />
								<ul class="dropdown-menu cust-dropdown-menu campaign-dropdown"
									aria-labelledby="categoryDropdown" style="" id="category-dropdown">
								</ul>
								<span class="select-p">Accessories</span>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
	<div id="accessories-bike-image"></div>
    <div class="accessorie-items d-none">
       
    </div>
</div>